.user-profile-pic {
  width: 40px;
  height: 40px;
  position: relative;
}

.user-profile-pic-arrow {
  margin-right: 10px;
}

.user-profile-pic-icon {
  font-size: 40px !important;
}

.nav-item-icon {
  font-size: 32px !important;
}

.nav-icon {
  width: 30px;
  height: 50px;
}

.shadow-sm {
  
}